out
dist
node_modules
.vscode-test/
*.vsix
temp
scratch/

# Build outputs
weibo/dist
zhihu/dist
xhs/dist
bilibili/dist
qqmusic/dist
xiaoyuzhou/dist
x/dist
weread/dist

# Old releases
touchfish-*.vsix
