.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/pnpm-lock.yaml

weibo/src/**
weibo/node_modules/**
weibo/public/**
weibo/.gitignore
weibo/eslint.config.js
weibo/index.html
weibo/package.json
weibo/README.md
weibo/tsconfig.json
weibo/tsconfig.app.json
weibo/tsconfig.node.json
weibo/vite.config.ts
weibo/pnpm-lock.yaml
weibo/temp/**

zhihu/src/**
zhihu/node_modules/**
zhihu/public/**
zhihu/.gitignore
zhihu/eslint.config.js
zhihu/index.html
zhihu/package.json
zhihu/README.md
zhihu/tsconfig.json
zhihu/tsconfig.app.json
zhihu/tsconfig.node.json
zhihu/vite.config.ts
zhihu/pnpm-lock.yaml
temp/**