* {
  padding: 0;
  margin: 0;
}

html,body{
  background-color: #1a1c22;
  padding: 0;
  font-family: "Microsoft YaHei";
}

.list{
  padding: 10px;
}

.icon-link{
  width: 1em;
  height: 1em;
  margin-right: 2px;
  vertical-align: -2px;
}

.content {
  img {
    width: 18px;
    height: 18px;
    vertical-align: -4px;
  }
}

.ant-card {
  .ant-card-head {
    padding: 0 15px;
  }
  .ant-card-body {
    padding: 15px
  }
}