* {
  padding: 0;
  margin: 0;
  font-family:'Microsoft YaHei';
}

html,body{
  padding: 0;
  background-color: #1a1c22;
}

.tabs{
  position: fixed;
  z-index: 9;
  width: 100%;
  background: rgba(26, 28, 34, 0.5);
  top: 0;
  backdrop-filter: saturate(180%) blur(15px);
}
.list{
  padding: 3px;
  min-height: 100px;
  margin-top: 50px;
  .weibo-data{
    font-size: 15px;
    color: #ccc;
  }
}

.icon-link{
  width: 1em;
  height: 1em;
  margin-right: 2px;
  vertical-align: -2px;
}

.content {
  img {
    width: 18px;
    height: 18px;
    vertical-align: -4px;
  }
}

.ant-card {
  margin-bottom: 10px;
  .ant-card-head {
    padding: 0 8px;
    min-height: 45px;
    font-weight: normal;
  }
  .ant-card-body {
    padding: 8px
  }
}

.imglist {
  margin-top: 10px;
  .img-item{
    object-fit: cover;
    border-radius: 5px;
  }
}

.ant-image {
  margin: 5px;
}

.ant-tabs >.ant-tabs-nav {
  margin: 0;
}
