* {
  padding: 0;
  margin: 0;
  font-family:'Microsoft YaHei';
}

html,body{
  padding: 0;
  background-color: #1a1c22;
}

.list{
  padding: 3px;
}

.icon-link{
  width: 1em;
  height: 1em;
  margin-right: 2px;
  vertical-align: -2px;
}

.content {
  img {
    width: 18px;
    height: 18px;
    vertical-align: -4px;
  }
}

.ant-card {
  .ant-card-head {
    padding: 0 10px;
  }
  .ant-card-body {
    padding: 10px
  }
}

.imglist {
  margin-top: 10px;
  .img-item{
    object-fit: cover;
    border-radius: 5px;
  }
}

.ant-image {
  margin: 5px;
}

.ant-tabs >.ant-tabs-nav {
  margin: 0 0 5px 0;
}